@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}



.cookies-msg {
    width: 90%;
 
    background-color: #000000;
    color: rgb(255, 255, 255);
    position: fixed;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%);
    border-radius: 15px;
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 1px 2px 10px rgba(255, 255, 255, 0.048);
    border: 1px solid rgba(255, 255, 255, 0.445);
    z-index: 10;
}


.cookies-msg.mostrar{
    display: block;
}

.cookies-txt {
    text-align: right;
    margin-bottom: 5px; /* Espaço entre o texto e o botão */
    
}
.cookies-txt p{
    text-align: justify;
   
}

.cookies-btn button {
    background-color: #ffffff93; /* cor de fundo */
    color: #000000;
    font-weight: 700;
    font-size: 18px;
    padding: 10px 20px; /* tamanho */
    border-radius: 5px; /* bordas arredondadas */
    cursor: pointer;
    transition: .2s;
    border: none; /* sem borda */
    margin-top: -150px;
}

.cookies-btn button:hover {
    transform: scale(0.9);
    background-color: rgb(255, 255, 255);
  
}

@media screen and (max-width: 600px) {
    .cookies-msg {
        width: 95%;
        left:-5px;
        transform: none;
        margin: 0 10px;
       
        bottom: 5%;
        border-radius: 15px;
       
    }

    .cookies-txt p {
        font-size: 13.5px;
        text-align: justify;
    }


    .cookies-btn {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 10px;
        text-align: center;
    }

    .cookies-btn button {
        padding: 5px 10px;
        font-size: 14px;
        width: 100%; /* Botão ocupa toda a largura */
        max-width: 100px; /* Largura máxima do botão */
        padding-bottom: -10px;
        height: 35px;
        margin-top: 1px;
        margin-bottom: -10px;
    }
}