/* Define margens e paddings padrão como zero para todos os elementos */
* {
  margin: 0;
  padding: 0;
}

/* Estilos básicos do corpo da página */
body {
  background-image: url("Logistics.jpg\ -\ Editado.jpg"); /* Imagem de fundo */
  background-repeat: no-repeat; /* Não repetir a imagem */
  background-size: cover; /* Cobrir toda a área */
  background-position: center center; /* Centralizar a imagem */
  background-attachment: fixed; /* Fixar a imagem de fundo */
}

/* Estilos para a classe .mapamundo */
.mapamundo {
  margin-top: 534px; /* Margem superior */
  margin-bottom: -154px; /* Margem inferior negativa */
}

/* Estilos para os caminhos (paths) dentro de elementos SVG */
svg path {
  fill: #545454; /* Cor de preenchimento */
  stroke: #EBB887; /* Cor da linha */
  stroke-width: .25; /* Largura da linha */
}

/* Estilos ao passar o mouse sobre os caminhos (paths) dentro de elementos SVG */
svg path:hover {
  fill: black; /* Cor de preenchimento ao passar o mouse */
  transition: .6s; /* Transição suave */
  cursor: pointer; /* Cursor do mouse */
}

/* Estilos para o dropdown */
.dropdown {
  position: relative; /* Posição relativa */
  display: inline-block; /* Exibe como bloco */
}

/* Estilos para o conteúdo do dropdown */
.dropdown-content {
  display: none; /* Não exibe por padrão */
  position: absolute; /* Posição absoluta */
  min-width: 200px; /* Largura mínima */
  z-index: 1; /* Z-index para empilhamento */
  background-color: black; /* Cor de fundo */
  font-size: 12px; /* Tamanho da fonte */
  padding-top: 20px; /* Padding superior */
  border: 2px solid black; /* Borda */
}

/* Estilos para os itens (links) dentro do dropdown */
.dropdown-content a {
  display: block; /* Exibe como bloco */
  font-size: 14px; /* Tamanho da fonte */
  margin-bottom: 5px; /* Margem inferior */
}

/* Mostra o dropdown ao passar o mouse sobre o elemento .dropdown */
.dropdown:hover .dropdown-content {
  display: block; /* Exibe o conteúdo do dropdown */
}
