
*{
    font-family: Arial, Helvetica, sans-serif;
  }

.nossoprocesso{
    width: 90%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.029);
    margin-bottom: 10px;
    margin-top: 600px;
  }
  .tudo{
    width: 70%;
    margin: auto;
 
  }
  .step{
    text-align: left;
   padding-top: 20px;
   font-weight: bold;
   font-size: 18px;

   
  }
  .ourprocess{
    text-align: center;
  background-color: rgba(232, 226, 226, 0.508);
font-weight: bolder;
   font-size: 25px;
  }

  .stepimagem{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 20%;
margin-top: 20px;
     
}

@media (max-width: 600px) {
   
    .tudo {
        width: 90%;
        padding: 10px;
    }

    .step{
      text-align: justify;
       font-size: 16px;
    
       
      }

      .stepimagem{
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: auto;
   width: 300px;
    }
}