
.carrossel, .carrossel2, .carrossel3 {
  filter: drop-shadow(0px 0px 10px #03cae033);
  overflow: hidden;
  width: 60%;
  height: 280px;
  
   border-radius: 5px;
  
   position: relative;

   margin-top: -150px;
margin-left: 20%;
border: .5px solid rgba(0, 0, 0, 0.267);
}

.containerr, .container2, .container3 {
  display: flex;
  transition: .5s ease-in-out;
  transform: translateX(0);
 

}

img.imagem  {
  margin-top: -100px;
  width: 1850px;
  height: 475px;
  text-align: center;
  margin-right: 5px;
 
 cursor: pointer;

}
