



div.addconta{
    background-color: rgba(0, 0, 0, 0.844);
    border-radius: 20px;
    width: 500px;
   height: 333px;
   margin: auto;
   margin-top: 150px;
   background: linear-gradient(to right, rgba(4, 238, 238, 0.086), rgba(0, 0, 0, 0.364));
   border: 1px solid rgb(0, 0, 0);
   margin-bottom: 150px;
  
}
h1{
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: rgb(48, 0, 241);
}
ul a.criarconta {
    display: block;
    text-decoration: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    height: 50px;
    width: 90%;
    color: black;
    font-size: 18px;
    font-weight: bold;
    background-color: rgba(17, 17, 17, 0.405);
    border-radius: 10px;
    margin-right: 40px;
    padding-bottom: none;
    margin-bottom: 20px; /* Aumentado de 5px para 20px */
    padding-top: 15px;
    text-transform: uppercase;
    transition: .5s;
    margin: auto;
  }
  

ul a.criarconta:hover{
  transition: .5s;
background-color:rgb(0, 0, 0);
color: rgb(9, 202, 2);

}
ul{
   margin-top: 10px;
   margin-bottom: 40px;
}



@media only screen and (max-width: 600px) {
    div.addconta {
        width: 80%;
        height: 290px;
        margin-top: 150px;
    }
    ul a.criarconta {
        font-size: 16px;
        margin: auto;
        
        padding-top: -1px;
        padding-bottom: 10px;
        width: 80%;
    }
}